
header{
  background-color: #001a33;
  padding: 20px;
  text-align: center;
  text-shadow: -5px -5px 5px #66ccff;
  font-family: impact;
  font-size: 25px;
}

header h1{
  text-decoration: none;
  color: white;
}

body{
  background-color:#ccffff;
}
.container{
  margin: auto;
  width: 1050px;
  background-color:#66ccff;
  box-shadow: 30px 10px 20px #003380;
}


h1,h3,h4{
  font-family:arial;
}

p{
  font-family: century;
}

